body {
    background-color: rgb(223, 221, 221);
    height: 500px;
}
body header {
    padding-top: 5%;
    position: relative;
}
body article {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: white;
    width: 45%;
    height: 25%;
    padding-top: 20%;
    border: 1px solid orange;
    border-radius: 3%;
}
body article form p label.error {
    color: red;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0;
}
body article p.text {
    text-align: center;
    margin-top: -40%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
body article form {
    margin-left: 20%;
}
body article form p input {
    width: 70%;
    height: 20px;
    outline: none;
}
body article form p.label label {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
body article form p.label {
    margin-bottom: -10px;
}
body article form button {
    width: 73%;
    height: 25px;
    color: white;
    border: 1px solid orange;
    background-color: orange;
    border-radius: 10%;
}
body article form button:hover {
    box-shadow: 0 5px rgb(229, 226, 226);
    transform: translateY(4px);
}
body footer{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
body footer span {
    margin-left: 25px;
}
@media screen and (max-width: 1104px) and (min-width: 900px) {
    body article {
        width: 50%;
        height: 25%;
        padding-top: 22%;
    }
    body article p.text {
        margin-top: -38%;
    }
}
@media screen and (max-width: 899px) and (min-width: 700px) {
    body article {
        width: 65%;
        height: 35%;
        padding-top: 22%;
    }
    body article p.text {
        margin-top: -30%;
    }
}
@media screen and (max-width: 699px) and (min-width: 529px) {
    body article {
        width: 65%;
        height: 50%;
        padding-top: 22%;
    }
    body article p.text {
        margin-top: -25%;
    }
    body footer {
        width: 430px;
    }
}
@media  screen and (max-width: 528px) and (min-width: 397px) {
    body article {
        width: 95%;
        height: 60%;
        padding-top: 23%;
    }
    body article p.text {
        margin-top: -15%;
    }
    body footer span {
        font-size: 14px;
    }
}
@media  screen and (max-width: 396px) and (min-width: 318px) {
    body article {
        width: 100%;
        height: 60%;
        padding-top: 25%;
    }
    body article p.text {
        margin-top: -10%;
    }
    body article form p label.error {
    margin-left: 6%;
    }
    body footer {
        width: 370px;
    }
    body footer span {
        font-size: 14px;
        margin-left: 20px;
        margin-right: -10px;
    }
}
@media screen and (max-width: 317px) {
    body {
        height: 100%;
    }
    body article {
        width: 350px;
        margin-left: 0px;
        height: 300px;
        margin-top: 20px;
    }
    body article p.text {
        font-size: 21px;
        margin-top: -25px;
    }
    body article form p {
        margin-left: 0px;
    }
    body article form {
        margin-top: 20px;
        margin-left: 10px;
        height: 230px;
        width: 300px;
    }
    body article form p input {
        width: 290px;
        height: 22px;
    }
    body article form button {
        width: 300px;
        height: 25px;
    }
    body article form p label.error {
    margin-left: 18%;
}
    body footer span {
        margin-right: -10px;
    }
}