<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Gashev Ilya">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='/images/логотип.png') }}" type="image/x-icon">
        <title>Аккаунт</title>
    </head>
    <style>
body div.header {
    background-color: white;
    width: 100%;
    height: 7%;
    position: relative;
    background-color: rgb(247, 177, 48);
}
body article div.logo img {
    position: absolute;
    margin: auto;
    width: 80px;
    height: 70px;
}
body article div.menu {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 0;
    left: 200px;
    bottom: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;

}
body article div.menu ul li {
    display: inline-block;
    background-color: rgb(247, 177, 48);
    padding: 2%;
    margin-left: -1.5%;
}
body article div.menu ul li a {
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
body article div.menu ul li a:hover {
    color: white;
}
body article div.menu ul {
    margin-top: 0.5%;
    margin-left: -8%;
}
    </style>
<body>
    <article>
        <div class="header">
            <div class="logo">
                <img src="{{ url_for('static', filename='/images/логотип.png') }}">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/users/account/{{ email }}7c86d344da51ec25059798a5df4ccd1c/646399f452ee73777d9009139400dc29">Вопросы</a></li>
                    <li><a href="/account/otzuvu/9bc65c2abec141778ffaa729489f3e87{{ email }}">Отзывы</a></li>
                    <li><a href="/users/new_user/account/{{ email }}/d3100a9a7427877c47a68c7b1d7b7a0a">Пользователи</a></li>
                    <li><a href="/account/a4a65cd1e8c0033fabc8ea5ec80070b6{{ email }}/2ff4f516c506107be5c429ed35084347a">Аккаунт</a></li>
                </ul>
            </div>
        </div>
        {% if email != "mf4sk7l" %}
    <div class="admin">
        {% for i in data %}
        <img src="{{ url_for('userava', name=email) }}">
        <p><a href="/new_account/my_address/{{ email }}6c647108a7899bba54368b8bc132561f">Редактировать профиль</a></p>
        <form>
            {% if currency[1] == "вверх" %}
            <p>$(доллар): <span style="color: green;">{{ currency[0] }}</span>(₽)</p>
            {% else %}
            <p>$(доллар): <span style="color: red;">{{ currency[0] }}</span>(₽)</p>
            {% endif %}
            {% if currency[3] == "вверх" %}
            <p>€(евро): <span style="color: green;">{{ currency[2] }}</span>(₽)</p>
            {% else %}
            <p>€(евро): <span style="color: red;">{{ currency[2] }}</span>(₽)</p>
            {% endif %}
        </form>
    </div>
    <div class="content">
        <form>
            <p>Фамилия: {{ i.surname }}</p>
            <p>Имя: {{ i.name }}</p>
            {% if i.birthday2 == "да" %}
            <p style="color: red; font-size: 16.5px;">С днем рождения {{ i.name }}!!!</p>
            {% endif %}
            <p>Местоположение: {{ i.live }}</p>
            <p>Возраст: {{ i.age }}</p>
            <p>О себе: <span style="font-size: 15px;">{{ i.about_me }}</span></p>
        </form>
    </div>
    <div class="content2">
        <form>
            <p>Очков: <span style="color: blue; font-size: 17px;">{{ i.glasses  }}</span></p>
            <p>Вопросов: <span style="color: blue; font-size: 17px;">{{ i.questions }}</span></p>
            <p>Ответов: <span style="color: blue; font-size: 17px;">{{ i.answers }}</span></p>
            {% endfor %}
        </form>
    </div>
    <div class="vopros">
        {% if code == "0" %}
        <span>Задать вопрос</span>
        <form method="post">
            {% for data, msg in get_flashed_messages(True) %}
            <p class="{{ data }}">{{ msg }}</p>
            {% endfor %}
            <p>Суть вопроса: </p>
            <p><input type="text" placeholder="Напишите ваш вопрос" name="vopros"></p>
            <p>Больше информации о вопросе(необязательно): </p>
            <p><textarea placeholder="Дополните свой вопрос большей информацией" name="text"></textarea></p>
            <p><a href="#"><button>Задать вопрос</button></a></p>
        </form>
        {% else %}
        <span>Редактировать вопрос</span>
        <form method="post">
            {% for data, msg in get_flashed_messages(True) %}
            <p class="{{ data }}">{{ msg }}</p>
            {% endfor %}
            <p>Новая суть вопроса: </p>
            <p><input type="text" placeholder="Напишите ваш вопрос" name="vopros"></p>
            <p>Больше информации о вопросе(необязательно): </p>
            <p><textarea placeholder="Дополните свой вопрос большей информацией" name="text"></textarea></p>
            <p><a href="#"><button class="button2">Изменить вопрос</button></a></p>
        </form>
        {% endif %}
    </div>
    {% else %}
        <div style="width: 550px; height: 430px; border: 2px solid red; border-radius: 50px; margin-top: 190px; margin-left: 180px; text-align: center;">
            <p style="margin-top: 30px; font-size: 25px;">Вы неавторизованный пользователь</p>
            <p style="width: 150px; margin-left: 200px;"><img src="{{ url_for('static', filename='/images/замок.png') }}" style="width: 130px; border-radius: 100px;"></p>
            <p style="font-size: 20px; margin-top: 50px;">Для того чтобы у вас появился аккаунт и вы могли задавать вопросы, нужно зарегистрироваться или войти в свой аккаунт.</p>
            <p style="font-size: 18px; margin-top: 10px; margin-left: 30px;"><a href="/">Ссылка на вход</a>,      <a href="/registration/new_account/login/password/ea6faefb616432504e904827011f0eb5">Ссылка на регистрацию</a></p>
        </div>
    {% endif %}
    </article>
</body>
</html>
